* {
    user-select: none;
    cursor: default;
}

html {
    margin: 0;
    background-color: #263238;
    padding: 0;
    min-height: 400px;
    max-height: 700px;
    overflow: hidden;
    width: 350px;
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #263238;
    color: #EEE;
    width: 350px;
    margin: 0;
    height: 500px;
    overflow: hidden;
    padding: 0;
}

header {
    background-color: #263238;
    padding: 10px 10px;
    z-index: 30;
    position:fixed;
    width: 350px;
    top:0;
}

header h1 {
    margin-left:auto;
    margin-right:auto;
    
    display:block;
}

header nav {
    top:1px;
    left:15px; 
    display: inline-block;
    line-height: 28px;
    float:left;
}

header i {
    color: #FFF;
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
}

header i:hover {
    opacity: 1.0;
}

h1, h2, h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top:4px;
    text-align:center;
}

h2 {
    font-size: 18px;
}

p {
    margin: 8px 0;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
}

.inline-button {
    background-color: #37474F;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    color: #FFF;
    position: relative;
    transition: all 150ms ease-in;
}

.inline-button p {
    display: inline-block;
    left: 0;
    width: 270px;
    font-weight: 600;
    font-size: 15px;
    opacity: 1;
}

.inline-button .description  {
    margin: 0;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    left: 36px;
    top: 35px;
}

.inline-button i {
    float: right;
    margin-top: 12px;
    margin-right: 6px;
}

.inline-button:hover {
    cursor:default;
    background: #455A64;
}

.inline-button:active {
    background: #546E7A;
}

.status-icon {
    display:inline-block;
    width: 10px;
	height: 10px;
    border-radius: 50px;
    margin-right:10px;
}

.Unknown {
    background-color: #BDBDBD;
}

.Offline {
    background-color: #ef5350;
}

.Online {
    background-color: #66BB6A;
}

#section-settings,
#section-remote,
#section-main,
#section-about,
#section-activities {
   margin-top:50px;
}

/* initial state */
#section-settings,
#section-about,
#section-remote,
#section-activities,
#section-login-completed {
    display: none;
    overflow-y: hidden;
}

#remote-status,
#activity-status {
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

#devices-holder,
#activities-holder {
    overflow-y: auto;
    height:454px;
}

#devices-holder::-webkit-scrollbar,
#activities-holder::-webkit-scrollbar {
    width: 5px;
}
   
#devices-holder::-webkit-scrollbar-thumb,
#activities-holder::-webkit-scrollbar-thumb {
    background: #607D8B; 
}

#devices-holder::-webkit-scrollbar-track,
#activities-holder::-webkit-scrollbar-track {
    background: #263238; 
}

.activity-card {
    background: #37474F;
    display:block;
    color: #FFF;
    text-decoration: none;
    
    margin-bottom:5px;
}

/* Fun hack to darken image background */
.activity-card > .ac-container > .ac-container  {
    background-color: rgba(55,71,79,0.80);
    margin:-15px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding:15px;
}

.activity-card:hover > .ac-container > .ac-container  {
    background-color: rgba(69,90,100,0.60);
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #455A64, rgba(0, 0, 0, 0));
    border: 0;
    height:1px;
    margin:15px 10px;
}