html {
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #F8F8F8;
    color: #24292e;
    width: 350px;
    margin:0;
    min-height: 400px;
    padding: 0;
}

header {
    background-color: #FFFFFF;
    padding:10px 15px;
    border-bottom:1px solid #E4E4E4;
}

header nav {
    display: inline-block;
    float: right;
    line-height: 20px;
}


h1, h2, h3
{
    margin:0;
    margin-top:10px;
    font-weight: 600;
    font-size: 16px;
}

h1 {
    font-size: 18px;
    font-weight:700;
    margin: 0;
}

h2 {
    font-size: 18px;
}

h1 small {
    text-transform: uppercase;
    color: red;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    right:0px;
    top:-8px;
}

p {
    margin: 8px 0;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, span, p, nav { user-select: none }

#section-settings {
    margin: 0px 15px 10px 15px;
}

.remote-device {
    background:#FFFFFF;
    border-top:1px solid #E4E4E4;
    border-bottom:1px solid #E4E4E4;
    padding:5px 15px;
    margin-top:5px;
    display:block;
    text-decoration: none;
    color: #111;
    transition: all 250ms ease;
}

.remote-device p {
    display: inline-block;
    left:0;
    width: 270px;
    font-weight:600;
    font-size:15px;
}

.remote-device:hover {
    background:#ECEFF1;
    border-top:1px solid #B0BEC5;
    border-bottom:1px solid #B0BEC5;
}

.inline-button {
    background:#FFFFFF;
    border-top:1px solid #E4E4E4;
    border-bottom:1px solid #E4E4E4;
    padding:5px 15px;
    margin-top:5px;
    display:block;
    text-decoration: none;
    color: #111;
    transition: all 250ms ease;
}

.inline-button p {
    display: inline-block;
    left:0;
    width: 270px;
    font-weight:600;
    font-size:15px;
}

.inline-button svg {
    float: right;
    margin-top:7px;
    margin-right:0px;
    width:22px;
    height:22px;
}

.inline-button:hover {
    background:#ECEFF1;
    border-top:1px solid #B0BEC5;
    border-bottom:1px solid #B0BEC5;
}

/* initial state */
#section-settings,
#section-remote,
#section-login-completed {
    display: none;
}