html {
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #F4F4F4;
    color: #24292e;
    width: 380px;
    min-height: 340px;
    margin: 0 18px 12px 12px;
    padding: 0;
}

header nav {
    display: inline-block;
    float: right;
    line-height: 20px;
}


h1, h2, h3
{
    margin:0;
    margin-top:10px;
    font-weight: 600;
    font-size: 16px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h1 small {
    text-transform: uppercase;
    color: red;
    font-size: 10px;
}

p {
    margin: 8px 0;
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
}

h1, h2, h3, span, p, nav { user-select: none }

.required {
    color: red;
    display: inline-block;
    margin-left: 8px;
}

/* initial state */
#section-settings,
#section-login-completed {
    display: none;
}
